header#header
  img(src="/img/me.jpg")
  h1 Noah Portes Chaikin
  p Web developer, compulsive biker, and coffee enthusiast.  New York City.
div
  section.page.about
    div a
  section.page.git
    div
      h1#gh-username
      section#gh-repositories
  section.page.spotify
    div
      h1 Spotify
      section#spotify-tracks
