@import '_settings'

global-reset()
base()

*
  box-sizing: border-box
  
body, html
  height: 100%
  
body
  > div
    absolute: top 100% left right
    z-index: 1
    height: 100%
  
header#header
  width=450px
  image-size=150px
  fixed: top 50% left 50%
  z-index: 0
  width: width
  height: image-size
  margin-top: -(image-size/2)
  margin-left: -(width/2)
  padding-left: image-size + (base-margin * 2)
  img
    rounded()
    absolute: top left
    animation: fadeInUp 1s linear
    
.page
  height: 100%
  padding: base-margin * 2
  > div
    width: 1024px
    margin: 0 auto
  &.about
    background: blue
    color: white
  &.git
    background: gray
    color: white
  &.spotify
    background: green
    color: white
