doctype html
html
  head(profile="http://www.w3.org/2005/10/profile")
    title Howdy! I'm Noah.
    meta(name="description" content="As a full-stack software engineer, I’ve architected and implemented exceptional web and mobile experiences.")/
    link(rel="stylesheet" href="css/application.css")/
    link(rel="icon" type="image/jpg" href="images/icon.png")/
  body
    main
      img.me(src="images/me.jpg")/
      h1 Noah Portes Chaikin
      .lists
        ul
          li Staff software engineer at <a href="https://codeclimate.com" target="_blank">Code Climate</a>.
          li Previously at <a href="https://www.shoptiques.com" target="_blank">Shoptiques</a>, <a href="https://carrot.is" target="_blank">Carrot</a>, and <a href="https://kingandpartners.com" target="_blank">K&P</a>.
          li He/him.
        ul
          li: a(href="https://github.com/nporteschaikin" target="_blank") GitHub
          li: a(href="https://twitter.com/nporteschaikin" target="_blank") Twitter
          li: a(href="https://linkedin.com/in/nporteschaikin" target="_blank") LinkedIn
