doctype html
html
  head
    title Noah Portes Chaikin.  Full-stack software engineer.  Brooklyn.
    meta(name="description" content="A versatile, full-stack software engineer focused on mobile and the web.")/
    link(rel="stylesheet" href="css/application.css")/
  body
    main
      pre.
        { 
          
          <span class="h1">"Name":</span>           "Noah Portes Chaikin",
          <span class="h1">"Location":</span>       "Brooklyn, NY",
          <span class="h1">"Description":</span>    "I'm a diverse, efficient, and exceptional full-stack software engineer
                             focused on excelling as a scientist, practitioner, and leader.",
          
          <span class="h1">"Skills":</span> [
            [ "Java", "Scala", "Objective-C", "Swift", "Groovy", "Ruby", "JavaScript", 
              "PHP", "Python", "C++" ],
            [ "MySQL", "Postgres", "Redis", "Elasticsearch", "MongoDB", "MemcacheDB" ],
            [ "Grails", "Ruby on Rails", "Sinatra" ],
            [ "React.js", "Redux", "Flux", "Backbone.js" ]
          ],
          
          <span class="h1">"Experience":</span> {
            "<a href="http://shoptiques.com">Shoptiques</a>": {
              "Title":       "Software Engineer",
              "Dates":       "5/2015 &#8212; Present",
              "Description": "For over a year, I've been at Shoptiques, a YC e-commerce startup that 
                              aggregates some of the world's best boutiques, and have been a de-facto 
                              leader on a team that has grown from two to seven engineers. In my time
                              at Shoptiques, I've led, engineered, and delivered the company's most 
                              ambitious projects to date: our new, isomorphic mobile web app, v3 of our
                              customer API, and our de-coupled desktop client app. I've also led our
                              transition to a service-oriented architecture and wrote our first 
                              microservice, used to handle user authentication."
            },
            "<a href="http://carrot.is">Carrot &#8212 a VICE company</a>": {
              "Title":       "Software Developer",
              "Dates":       "3/2014 &#8212; 5/2015",
              "Description": "Previously, I was at Carrot, a digital agency owned by VICE. There, I worked 
                              with a small team to build native iOS experiences like VICE News of iOS, became 
                              the top contributor to Sprout, a project templating system, and wrote peak, a 
                              (maybe the only) Tumblr development and deployment platform."
            },
            "<a href="http://kingandpartners.com">King &amp; Partners</a>": {
              "Title":       "Software Developer",
              "Dates":       "9/2012 &#8212; 3/2014",
              "Description": "Prior to Carrot, I was at King &amp; Partners, a digital agency focused on 
                              delivering e-commerce stores for luxury fashion brands, where I led a team 
                              of three engineers in the development of Sellect, a e-commerce platform, and 
                              developed experiences for brands like Victoria Beckham, 3.1. Phillip Lim, 
                              Monique Lhuillier, and more."
            }
          },
        
          <span class="h1">"Open Source":</span> {
            "<a href="http://www.github.com/carrot/sprout">Sprout</a>":       "Project templating &amp; skeletons",
            "<a href="http://www.github.com/nporteschaikin/peak">Peak</a>":         "Tumblr development framework",
            "<a href="http://www.github.com/nporteschaikin/credible">Credible</a>":     "Unopinionated validation for node and the browser."
          },
          
          <span class="h1">"www":</span> {
            "GitHub":       "<a href="http://www.github.com/nporteschaikin">@nporteschaikin</a>",
            "LinkedIn":     "<a href="http://www.linkedin.com/in/nporteschaikin">nporteschaikin</a>",
            "Instagram":    "<a href="http://www.instagram.com/nporteschaikin">@nporteschaikin</a>"
          },
          
          <span class="h1">"Contact":</span> {
            "email":        "<a href="mailto:noah@porteschaikin.com">noah@porteschaikin.com</a>",
            "phone":        "+1 914 602 3480"
          }
          
        }
